[ req ]
distinguished_name = dn
x509_extensions = v3_ca
prompt = no

[ dn ]
C = IN
ST = Gujarat
L = Ahmedabad
O = PQC-VPN
OU = CA
CN = PQC-MLDSA-CA

[ v3_ca ]
basicConstraints = critical, CA:TRUE
keyUsage = critical, keyCertSign, cRLSign
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always

