# sonarqube-deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: sonarqube
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sonarqube
  template:
    metadata:
      labels:
        app: sonarqube
    spec:
      securityContext:
        fsGroup: 1000
      containers:
        - name: sonarqube
          image: sonarqube:lts
          ports:
            - containerPort: 9000

          readinessProbe:
            httpGet:
              path: /
              port: 9000
            initialDelaySeconds: 90
            periodSeconds: 10
            failureThreshold: 6

          livenessProbe:
            httpGet:
              path: /
              port: 9000
            initialDelaySeconds: 180
            periodSeconds: 20

            
          resources:
            requests:
              cpu: 500m
              memory: 1Gi
            limits:
              cpu: 1
              memory: 2Gi
          
          volumeMounts:
            - name: sonarqube-storage
              mountPath: /opt/sonarqube/data
      volumes:
        - name: sonarqube-storage
          persistentVolumeClaim:
            claimName: sonarqube-pvc
